<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Bean Stock</title>
</head>
<body>
    {% include 'nav.html' %}

    <div>{% include 'alerts.html' %}</div>

    <div class="">
        <div class="">
            {% block header %}
            {% endblock %}
        </div>
    </div>

    <div class="">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>