{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
    <h1>Bean Stock</h1>
    {% if current_user.is_authenticated %}
        <h3>Welcome {{ current_user.username }}!</h3>
    {% else %}
        <h3>You're not logged in. Please Register or Log in.</h3>
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        {% for coffee in coffees %}
            <div>
                <h4>{{ coffee.name }} - ${{ coffee.price }}</h4>
                <p>{{ coffee.description }}</p>
                <p>Rating: {{ coffee.rating }}</p>
                <p>Brew Method: {{ coffee.brew_method }}</p>
                <p>Roaster: {{ coffee.roaster }}</p>
                <p>Created On: {{ coffee.date_created }}</p>
                <p>By: {{ coffee.brewer.username }}</p>
                <img src="{{ coffee.image_url }}" alt="{{ coffee.name }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}