{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block header %}
    <h1>Bean Stock</h1>
    {% if current_user.is_authenticated %}
        <h3>Welcome {{ current_user.username }}!</h3>
    {% else %}
        <h3>You're not logged in. Please Register or Log in.</h3>
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        {% if current_user.is_authenticated %}
            {% for coffee in coffees %}
                <div class="mb-10">
                    <h4>{{ coffee.name }} - ${{ coffee.price }}</h4>
                    <p>{{ coffee.description }}</p>
                    <p>Rating: {{ coffee.rating }}</p>
                    <p>Brew Method: {{ coffee.brew_method }}</p>
                    <p>Roaster: {{ coffee.roaster }}</p>
                    <p>Created On: {{ coffee.date_created }}</p>
                    <p>By: {{ coffee.brewer.username }}</p>
                    <img class="w-40" src="{{ coffee.image_url }}" alt="{{ coffee.name }}">
                    {% if coffee.brewer == current_user %}
                        <a href="{{ url_for('edit_coffee', coffee_id=coffee.id) }}">Edit Coffee</a>
                        <a href="{{ url_for('delete_coffee', coffee_id=coffee.id) }}">Delete Coffee</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}