{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block header %}
    <h3>Register</h3>
{% endblock %}

{% block content %}
    <div>
        <form method="post">
            {{ form.csrf_token }}

            {{ form.username.label }}
            {{ form.username(class='', placeholder='Enter Username') }}

            {{ form.email.label }}
            {{ form.email(class='', placeholder='Enter Email') }}

            {{ form.password.label }}
            {{ form.password(class='', placeholder='Enter Password') }}

            {{ form.confirm_password.label }}
            {{ form.confirm_password(class='', placeholder='Confirm Password') }}

            {{ form.submit(class='') }}
        </form>
    </div>
{% endblock %}